Client/Service References/MyWcfService/wcfapi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.artech.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.artech.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.artech.com/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:3721/CalculatorService/wcfapi?xsd=xsd0" namespace="http://www.artech.com/" />
      <xsd:import schemaLocation="http://127.0.0.1:3721/CalculatorService/wcfapi?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalculatorService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="CalculatorService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="CalculatorService_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="CalculatorService_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="CalculatorService_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="CalculatorService_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="CalculatorService_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="CalculatorService_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculatorService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://www.artech.com/CalculatorService/Add" message="tns:CalculatorService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/CalculatorService/AddResponse" message="tns:CalculatorService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://www.artech.com/CalculatorService/Subtract" message="tns:CalculatorService_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/CalculatorService/SubtractResponse" message="tns:CalculatorService_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://www.artech.com/CalculatorService/Multiply" message="tns:CalculatorService_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/CalculatorService/MultiplyResponse" message="tns:CalculatorService_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://www.artech.com/CalculatorService/Divide" message="tns:CalculatorService_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://www.artech.com/CalculatorService/DivideResponse" message="tns:CalculatorService_Divide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>